## Sydney's and Giuseppe's Times Tables

Learning the times table in a fun way (using computers!) :D

In [13]:
import math

def SydneysTimesTable(table=math.pi, max_times = 12):
    numb = [num for num in range(max_times + 1)]
    for n in numb:        
        print("{} x {} = {}".format(n, table, (n * table)))

## 1 times table

In [14]:
SydneysTimesTable(table=1, max_times=12)

0 x 1 = 0
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
11 x 1 = 11
12 x 1 = 12

## 2 times table

In [3]:
SydneysTimesTable(table=2, max_times=12)

0 x 2 = 0
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
11 x 2 = 22
12 x 2 = 24

## 3 times table

In [4]:
SydneysTimesTable(table=3, max_times=12)

0 x 3 = 0
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
11 x 3 = 33
12 x 3 = 36

## 4 times table

In [3]:
SydneysTimesTable(table=4, max_times=12)

0 x 4 = 0
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
11 x 4 = 44
12 x 4 = 48

## 5 times table

In [4]:
SydneysTimesTable(table=5, max_times=12)

0 x 5 = 0
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
11 x 5 = 55
12 x 5 = 60

## 6 times table

In [5]:
SydneysTimesTable(table=6, max_times=12)

0 x 6 = 0
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
11 x 6 = 66
12 x 6 = 72

## 7 times table

In [6]:
SydneysTimesTable(table=7, max_times=12)

0 x 7 = 0
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
11 x 7 = 77
12 x 7 = 84

## 8 times table

In [7]:
SydneysTimesTable(table=8, max_times=12)

0 x 8 = 0
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
11 x 8 = 88
12 x 8 = 96

## 9 times table

In [8]:
SydneysTimesTable(table=9, max_times=12)

0 x 9 = 0
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
11 x 9 = 99
12 x 9 = 108

## 10 times table

In [9]:
SydneysTimesTable(table=10, max_times=12)

0 x 10 = 0
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
11 x 10 = 110
12 x 10 = 120

## Pi's times table

In [10]:
SydneysTimesTable(max_times=12)

0 x 3.141592653589793 = 0.0
1 x 3.141592653589793 = 3.141592653589793
2 x 3.141592653589793 = 6.283185307179586
3 x 3.141592653589793 = 9.42477796076938
4 x 3.141592653589793 = 12.566370614359172
5 x 3.141592653589793 = 15.707963267948966
6 x 3.141592653589793 = 18.84955592153876
7 x 3.141592653589793 = 21.991148575128552
8 x 3.141592653589793 = 25.132741228718345
9 x 3.141592653589793 = 28.274333882308138
10 x 3.141592653589793 = 31.41592653589793
11 x 3.141592653589793 = 34.55751918948772
12 x 3.141592653589793 = 37.69911184307752